.contact {
  padding: 6rem 10% 5rem; /* extra space at top */
  background: #f7faf7;
  
  position: relative;
  z-index: 2;
}

.contact h2 {
  text-align: center;
  font-size: 2.4rem;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 3rem;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

/* LEFT SIDE */
.contact-info h3 {
  margin-bottom: 1.5rem;
}

.info-box {
  display: flex;
  gap: 1rem;
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.academic-box {
  background: #ecfff4;
  border: 1px solid #00c774;
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 1.5rem;
}

/* RIGHT SIDE */
.contact-form {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid #ddd;
  box-shadow: 0 0 25px rgba(0, 250, 200, 0.45);
}

.contact-form h3 {
  margin-bottom: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.contact-form button {
  width: 100%;
  padding: 0.9rem;
  background: linear-gradient(90deg, #00c774, #00aaff);
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}
.contact-form button:hover {
  box-shadow:
    0 0 15px rgba(0, 180, 130, 0.5),
    0 0 30px rgba(0, 150, 225, 0.3);
  transform: translateY(-2px);
}

.note {
  font-size: 0.8rem;
  color: #666;
  margin-top: 0.5rem;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}
.info-box {
  transition: all 0.3s ease;
}

.info-box:hover {
  border-color: #00c774;
  box-shadow: 0 0 18px rgba(0, 199, 116, 0.35);
}

.info-box:hover h4,
.info-box:hover p {
  color: #00c774;
}
/* NAVBAR OVER VIDEO */
.overlay-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

/* HERO VIDEO */
.page-hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.page-hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  background: fixed
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.hero-content h1 {
  font-size: 3rem;
}

.hero-content p {
  opacity: 0.85;
}


