.hero {
  height: 90vh;
  background: linear-gradient(to right, #a8e6cf, #dcedc1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
